.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 1em;
}
.product-link {
  color: #000;
  text-decoration: none;
}
.product-link:hover {
  text-decoration: revert;
}
.product-title {
  font-size: 18px;
  font-weight: 600;
}
main {
  padding-bottom: 70px;
}
.action {
  min-width: 35px;
  min-height: 35px;
}
.action.basket {
  position: relative;
}
.counter.active {
  background-color: #0058a3;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  text-align: center;
  padding: 1.5px;
  top: 0px;
  right: 0px;
  width: 18px;
  height: 18px;
  font-size: 0.8rem;
}
