.single-product {
  display: flex;
}
.single-product-image {
  max-width: 700px;
}
.single-product-images {
  max-width: 800px;
}
.single-product-scheme {
  height: 400px;
  width: 400px;
}
.single-product-title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 28px;
  cursor: default;
}
.single-product-price {
  font-weight: 700;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: default;
}
.add-basket {
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 20px 30px;
  background-color: #f5f5f5;
}
.add-basket:hover {
  color: #fff;
  background-color: #666;
}
.main-information {
  margin-left: 20px;
}
